<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th><h3>submit a product</h3></th>
            <tr>
                <td>
                    <label>productname:</label>
                    <input type="text" id="prd" name="prd"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>product category:</label>
                    <select>
                        <option>watches</option>
                        <option>shoes</option>
                        <option>tshirts</option>
                        <option>mobile</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>product freshness:</label>
                </td>
                <td>
                    <input type="radio" id="rdo" name="rdo"/>Brand new
                    <input type="radio" id="rdo" name="rdo"/>second hand
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Image of product:
                    </label>
                    <input type="file" id="file" name="file" value="choose"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Addtional description:</label>
                    <input type="text" id="add" name="add"/>
                </td>
            </tr>
            tr>
                <td>
                    <label>product price:</label>
                    <input type="text" id="prc" name="prc"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button>SUBMIT</button>
                </td>
            </tr>
            
        </table>
    </form>
</body>
</html>