<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="center">
        <th>
            PAYMENT DETAILS
        </th>
        <tr>
            <td>
                <label>payment type:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="pay" name="pay" value="credit card"/>
            </td>
            <td>          <input type="text" id="pay1" name="pay1" value="net banking"/></td>
        </tr>
        <tr>
            <td>
                <label>card owner:</label>
            </td>
            <td><input type="text" id="card" name="card"/></td>
           <tr>
        <td>
         
            <label>card number:</label>
        </td>
        <td><input type="text" id="cardno" name="cardno"/></td>
    </tr>
    <tr>
        <td>
            <label>CVV</label>
        </td>
        <TD><input type="text" id="cvv" name="cvv"/></TD>
    </tr>
    <tr>
        <td>
            <button>conform payment</button>
            <button>view payment</button>
        </td>
    </tr>
    </table>
</body>
</html>