<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <tr>
                <th>YOUR PRODUCT</th>
            </tr>
            <TR><td align="left">
                    <img src="download.jpg" width="175px"/>
            </td>
                <td>
                    T-shirt
                </td></TR>
                <tr>
                <td>
                    Rs.200
                </td>

            </TR>
            <tr>
                <td>
                    <label>Qty:</label>
                    <input type="number" id="qty" name="qty"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label>color:</label>
                    <input type="color" id="clr" name="clr"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button style="color: black;">Add to cart</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>size:</label>
                    <select>
                    <option>medium</option>
                    <option>small</option>
                    <option>XL</option>
                    <option>XXL</option></select>
                </td>
            </tr>
            <tr>
                <td>delivery buy sun jul 31|<span style="color: green;">free</span></td>
            </tr>
            
                <table align="center">
                    <tr>
                        <td colspan="3" style="color: green;"> save for later |</td>
                        <td colspan="3"  style="color: green;"> remove |</td>
                        <td colspan="3"  style="color: green;">buy this now | </td>
                    </tr></table>
                <table align="center">
                <tr>
                    <td>
                        <th><h3>Product details:</th></h3>
                    </td>
                </tr><br />
                <tr>
                    <td>
                        price:                    rs.200
                    </td>
                </tr><br />
                <tr>
                    <td> discount:               rs.10</td>
                </tr><br />
                <tr>
                    
                    <td> delivery charges           free</td>
                </tr><br />
                <tr>
                    <td>
                        total amount               rs.190
                    </td>
                    <td>
                    <button style="background-color: yellow;" align="center">place order</button></td>
                </tr><br />
                
            </table></table>
                
                </table>
            </form>          
</body>
</html>