{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <table border="1" align="center" height="500px" width="700px">
        <tr colspan="10">
            <td colspan="10" align="left" border="1" style="color: rgb(251, 255, 0); font-size: large;background-color: blue;">flipkart</td>

            <td bgcolor="blue">
                <button style="background-color: blue;">login</button>
            </td>
            <td colspan="4" bgcolor="blue">Bcome a seller</td>
            <td colspan="4" bgcolor="blue">
                <label>More:</label>
                <select>
                    <option value="Notification preferences">Notification preferences</option>
                    <option value="24*7 customer care">24*7 customer care</option>
                    <option value="Advertisement">Advertisement</option>
                    <option value="download app">download app</option>
                </select>
            </td>

        </tr>
        <tr>
            <td bgcolor="blue"><button > orders</button></td>
           
        </tr>
        
        <tr>
            <td bgcolor="blue"><button>cart</button></td>
        </tr>
        <tr>
            <td bgcolor="blue"><button>account</button></td>
        </tr>
        <tr>
            <td bgcolor="blue"><button>
                wishlist
            </td></button>
        </tr>
        </table>


    </form>
 
</body>
</html>