<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <tr>
                <th>YOUR PRODUCT</th>
            </tr>
            <TR><td align="left">
                    <img src="download.jpg" width="175px"/>
            </td>
                <td>
                    T-shirt
                </td></TR>
                <tr>
                <td>
                    Rs.200
                </td>

            </TR>
            <tr>
                <td>
                    <label>Qty:</label>
                    <input type="number" id="qty" name="qty"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label>color:</label>
                    <input type="color" id="clr" name="clr"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>size:</label>
                    <select>
                    <option>medium</option>
                    <option>small</option>
                    <option>XL</option>
                    <option>XXL</option></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>NAME:</label>
                    
                </td>
            </tr>
            <TR>
                <td>
                    <input type="text" name="nme" id="nme"/>
                </td>
            </TR>
            <tr>
                <td>
                    <label>Email:</label>
                    
                </td>
            </tr>
            <TR>
                <td>
                    <input type="email" name="email" id="email"/>
                </td>
            </TR>
            <tr>
                <td>
                    <label>Total price:</label>
                </td>
                <tr>
                <td><input type="text" id="tp" name="tp"/> </td></tr>
            </tr>
        </table></form>
</body>
</html>