<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">LOGIN</h1>
    <form>
        <table align="center">
            <tr>
                <td>
                    <label>User name:</label>
                </td>
                <td><input type="email" id="email"name="email" placeholder="enter the email"</td>
            </tr>
            <tr>
                <td>
                    <label>password:</label>
                </td>
                <td><input type="password" id="psw"name="psw" placeholder="enter the password"/></td>
            </tr>
            <tr>
                <td align="center">
                    <button>login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>