<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table align="center">
            <th align="center" align="right">CUSTOMER SIGN UP</th>
            <br />
            <tr>
                <td>
                <label>Name:</label></td>
                <br />
                </tr><tr>
                <td><input type="text",name="nme" id="nme" placeholder="first name"></td>
                <td><input type="text",name="nme1" id="nme1" placeholder="second name"></td>

            </tr>
            <br />
            <tr>
                <td>
                    <label>Email:
                    </label>
                </td>
            </tr>
            <tr>
            <td>
                <input type="email" width="80px" placeholder="enter the email" id="email" name="email"/>
            </td></tr>
            <tr>
                <td>
                    <label>Mob:
                    </label>
                </td>
            </tr>
            <tr>
            <td>
                <input type="number" width="80px" placeholder="enter the Mob" id="mob" name="mob"/>
            </td></tr>
            <tr>
                <td>
                    <label>password:
                    </label>`
                </td>
            </tr>
            <tr>
            <td>
                <input type="password" width="80px" placeholder="enter the password" id="psw" name="psw"/>
            </td></tr>
            <tr>
                <td>
                    <label>Address:</label>
                </td>
            </tr>
            <tr><td>
                <input type="text" name="adrs1" id="adrs1" placeholder="permanant address"/></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="adrs2" id="adrs2" placeholder="office address"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="city" id="city" placeholder="city"/>
                </td>
                <td>
                    <input type="text" name="Region" id="Region" placeholder="Region"/>  
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="pin" id="pin" placeholder="PIN/ZIP CODE" />
                </td>
            </tr>
                <td>
                    <label>State:</label>
                    <select name="state" id="select" aria-placeholder="state">
                        <label>state:</label>
                        <option value="kerala">kerala</option>
                        <option value="tamilnadu">tamilnadu</option>
                        <option value="karnataka">karnataka</option>
                        <option value="andra pradesh">Andra pradesh</option>
                        <option value="maharashtra">maharashtra</option>
                        <option value="up">up</option>
                        <option value="madhya pradesh">madhya pradesh</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="district">District:</label></td>
                    <td>
                        <select name="dis" id="dis">
                            <option value="kozhikode">kozhikode</option>
                            <option value="kannur">kannur</option>
                            <option value="TVM">TVM</option>
                            <option value="idukki">idukki</option>
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Alappuzha">Alappuzha</option>
                        </select></td></tr>
                        <tr><td>
                            <button>SIGN UP</button></td>
                        </tr>

        </table>
    </form>
    
</body>
</html>